---
import TechStack from "@components/techStack";

interface Props {
  title: string;
  techStack: string[];
  href: string;
  img: string;
}

const { href, title, techStack, img } = Astro.props;
---

<li class="grid grid-cols-1 gap-12 items-center">
  <a href={href} target="_blank" class="grid grid-cols-1 gap-6 items-start">
    <img loading="lazy" src={img} alt={title} />
    <h3 class="text-white text-5xl">
      {title}
    </h3>
    <TechStack className="flex items-start gap-3" techStack={techStack} />
  </a>
</li>
